Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-use-nullptr,
  modernize-use-override,
  readability-identifier-naming,
  -performance-avoid-endl,
  -performance-enum-size
WarningsAsErrors: "*"
HeaderFilterRegex: "src/.*"